<% content_for :title, 'Generic Document' %>
<p id="notice"><%= notice %></p>

<div id="title-bar" class="sticky-top">
  <h1>Generic Document</h1>
  <div class="actions d-flex btn-group justify-content-end push">
    <%= link_to 'Back', admin_path, class: 'ml-2 btn btn-secondary' %>
  </div>
</div>
<article>
  <div id="compliance-docs">
    <div class="col-md-12">
      <%= form_with url: @generic_document.id ? update_generic_document_admin_path : create_generic_document_admin_path, method: 'post', html: { class: 'generic_document_form', id: 'generic_document_form', multipart: true} do |f| %>
        <div class="row">
          <div class="col-md-12 mt-2">
            <%= link_to 'Add general compliance document', new_generic_document_admin_path, remote: true, class: 'add-generic btn btn-primary' %>
          </div>
        </div>
        <div id="generic_documents">
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="actions d-flex btn-group justify-content-end push">
              <%= f.submit 'Save', class: 'btn btn-primary save-document'%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row documents">
      <%= render 'document' %>
    </div>
  </div>

</article>

<div class="modal fade" id="doc-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Document: <span class="doc-name"></span></h3> <span class="doc-verified"></span> <span class="doc-verified-by"></span>
        <button type="button" class="close" data-dismiss="modal" style="font-size: 3.5rem !important;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <object data="" type="application/pdf" width="100%" height="520px" class="doc-preview"></object>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  if($('.documents').children('.generic-doc').length >= 4){
    $('.add-generic').hide();
  } else {
    $('.add-generic').show();
  }

</script>
