<div id="terms">
  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.security.title') %></h3>
    <p><%= t('tenancies.tenancy_terms.security.p1') %></p>
    <ol>
      <% l = 1 %>
      <% while l <= 3 do %>
        <li><%= t("tenancies.tenancy_terms.security.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.agreement.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 3 do %>
        <li><%= t("tenancies.tenancy_terms.agreement.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.management_regulations.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 2 do %>
        <li><%= t("tenancies.tenancy_terms.management_regulations.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.landlord_furniture.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 1 do %>
        <li><%= t("tenancies.tenancy_terms.management_regulations.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.security_guarantee.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 3 do %>
        <li><%= t("tenancies.tenancy_terms.security_guarantee.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.security_deposit.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 4 do %>
        <li><%= t("tenancies.tenancy_terms.security_deposit.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.guarantee.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 5 do %>
        <li><%= t("tenancies.tenancy_terms.guarantee.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.communication.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 5 do %>
        <li><%= t("tenancies.tenancy_terms.communication.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.joint_liability.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 5 do %>
        <li><%= t("tenancies.tenancy_terms.joint_liability.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.tenant_obligations.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 37 do %>
        <li><%= t("tenancies.tenancy_terms.tenant_obligations.bullets.b#{l}") %></li>
        <% if l == 3  %>
          <% sb = 1 %>
          <ul>
          <% while sb <= 3 do %>
            <li><%= t("tenancies.tenancy_terms.tenant_obligations.bullets.bs#{sb}") %></li>
            <% sb += 1 %>
          <% end %>
          </ul>
        <% end %>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.ending_the_tenancy.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 13 do %>
        <li><%= t("tenancies.tenancy_terms.ending_the_tenancy.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.notice_period.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 4 do %>
        <li><%= t("tenancies.tenancy_terms.notice_period.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.take_back_entitlement.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 5 do %>
        <li><%= t("tenancies.tenancy_terms.take_back_entitlement.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.supply_of_services.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 7 do %>
        <li><%= t("tenancies.tenancy_terms.supply_of_services.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.rent_obligations.title') %></h3>
    <p><%= t('tenancies.tenancy_terms.rent_obligations.p1') %></p>
    <ol>
      <% l = 1 %>
      <% while l <= 6 do %>
        <li><%= t("tenancies.tenancy_terms.rent_obligations.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.locks_keys_security.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 6 do %>
        <li><%= t("tenancies.tenancy_terms.locks_keys_security.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

  <section>
    <h3 class="article-title"><%= t('tenancies.tenancy_terms.data_protection.title') %></h3>
    <ol>
      <% l = 1 %>
      <% while l <= 3 do %>
        <li><%= t("tenancies.tenancy_terms.data_protection.bullets.b#{l}") %></li>
        <% l += 1 %>
      <% end %>
    </ol>
  </section>

</div>
