<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Number of bedrooms</td>
        <td><%= @property.number_of_bedrooms %></td>
      </tr>
      <tr>
        <td>Number of kitchens</td>
        <td><%= @property.number_of_kitchens %></td>
      </tr>
      <tr>
        <td>Number of lounges</td>
        <td><%= @property.number_of_lounges %></td>
      </tr>
      <tr>
        <td>Number of dining rooms</td>
        <td><%= @property.number_of_dining_rooms %></td>
      </tr>
      <tr>
        <td>Number of toilets</td>
        <td><%= @property.number_of_toilets %></td>
      </tr>
      <tr>
        <td>Number of showers</td>
        <td><%= @property.number_of_showers %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Number of bathrooms</td>
        <td><%= @property.number_of_bathrooms %></td>
      </tr>
      <tr>
        <td>Number of gardens</td>
        <td><%= @property.number_of_gardens %></td>
      </tr>
      <tr>
        <td>Number of studies</td>
        <td><%= @property.number_of_studies %></td>
      </tr>
      <tr>
        <td>Number of utility rooms</td>
        <td><%= @property.number_of_utility_rooms %></td>
      </tr>
      <tr>
        <td>Number of studio apartments</td>
        <td><%= @property.number_of_studio_apartments %></td>
      </tr>
      <tr>
        <td colspan="2">
          <label>Other</label>
          <p><%= @property.other %></p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>