<% content_for :title, 'Property listings' %>
<p id="notice"><%= notice %></p>

<div id="title-bar" class="sticky-top">
  <h1>Listed Properties</h1>
  <div class="actions push">
    <div class="badges btn-group d-flex w-100 mb-3">
      <%# business_years.each do |year| %>
        <%#= link_to year, available_room_path(year: year), class: "badge badge-#{year == @year ? 'primary' : 'secondary'}  btn-filter-expense" %>
      <%# end %>
    </div>
    <div>
      <%= link_to 'Back', reporting_index_path, class: 'ml-2 btn btn-secondary' %>
      <%#= link_to print_available_room_path(year: @year), class: 'btn btn-primary', target: '_blank' do %>
<!--        <i class="fas fa-print"></i>-->
      <%# end %>
    </div>
  </div>
</div>

<article>

  <section>
    <h3 class="article-title">Properties</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Type</th>
          <th>List Externally</th>
          <th>Website: <%= @current_year %></th>
          <th>Website: <%= @next_year %></th>
          <!--    <th colspan="3"></th>-->
        </tr>
        </thead>

        <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><%= link_to property.address_line_2? ? property.property_name + ', ' + property.address_line_2 : property.property_name, property_path(property) %></td>
            <td><%= yes_no(property.list_on_3rd_party_websites) %></td>
            <% property.property_listing_locations.order('year').each_with_index do |listing, i| %>
              <!--        <td><%#= listing.year %></td>-->
              <!--        <td><%#= i %></td>-->

              <%- if listing.year == @current_year && i == 0 %>
                <td><%= listing.year %></td>
                <!--          <td></td>-->
              <% elsif listing.year != @current_year && i == 0 %>
                <td></td>
                <td><%= listing.year %></td>
              <% elsif listing.year == @next_year && i == 1 %>
                <td><%= listing.year %></td>
              <% elsif listing.year != @next_year && i == 1 %>
                <td></td>
              <% else %>
                <td></td>
                <!--          <td><%#= listing.year %></td>-->
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </section>
</article>



