<td><%= link_to (fa_icon 'sync-alt'), sync_zoopla_property_room_path(@property, @room), remote: true %></td>
<td>Zoopla</td>
<td><%= @room.zoopla_response['create'].present? ? JSON.parse(@room.zoopla_response['create']) : 'N/A' %></td>
<td><%= @room.zoopla_response['create_error'].present? ? JSON.parse(@room.zoopla_response['create_error']) : 'N/A' %></td>
<td><%= @room.zoopla_response['delete'].present? ? JSON.parse(@room.zoopla_response['delete']) : 'N/A' %></td>
<td><%= @room.zoopla_response['delete_error'].present? ? JSON.parse(@room.zoopla_response['delete_error']) : 'N/A' %></td>
