<p id="notice"><%= notice %></p>

<div id="title-bar" class="sticky-top">
  <h1><%= "#{@property.property_name}"+'-'+t('.title') %></h1>
  <div class="actions d-flex btn-group justify-content-end push">
    <%= link_to 'Back', :back, class: 'btn btn-secondary' %>
    <%= link_to t('.new'), new_property_room_path(@property), class: 'btn btn-primary' %>
  </div>
</div>

<%#= puts @filterrific.inspect %>
<%#= form_for_filterrific @filterrific, html: {class: 'filterrific-form'} do |f| %>
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <span>Search</span>-->
      <%#= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control') %>
<!--    </div>-->

<!--    <div class="col">-->
<!--        <span>-->
<!--          Sort by-->
<!--        </span>-->
      <%#= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {class: 'form-control'}) %>
<!--    </div>-->

<!--    <div class="col text-right">-->
      <%#= link_to 'Reset filters', reset_filterrific_url, class: 'btn btn-arsenic' %>
<!--    </div>-->
<!--  </div>-->

<%# end %>

<article>
  <%= render( partial: 'list', locals: { properties: @rooms }) %>
</article>

<%= render 'shared/common_modal' %>
